
{% if user.is_authenticated %}
    Zalogowano jako - {{ user.username }}
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Wyloguj</button>
    </form>
    <a href="{% url 'createtodos' %}">Stwórz</a>
    <a href="{% url 'completedtodos' %}">Wykonane</a>
    <a href="{% url 'currenttodos' %}">Do wykonania</a>
{% else %}
    <form action="{% url 'loginuser' %}">
        {% csrf_token %}
        <button type="submit">Logowanie</button>
    </form>
    <form action="{% url 'signupuser' %}">
        {% csrf_token %}
        <button type="submit">Zarejestruj się</button>
    </form>
{% endif %}

{% block content %}{% endblock %}